@using ProportionalVotingApp.Models.Base
@using ProportionalVotingApp.Models.DTOs

<div class="form-group">
    <label for="name">Name: </label>
    <input id="name" @bind-value="vote.Name" class="form-control" disabled="@Disabled" placeholder="Vote name"/>
</div>

@code {
    [Parameter]
    public IVote vote { get; set; } = null!;

    [Parameter]
    public bool Disabled { get; set; }
}
