@using ProportionalVotingApp.Models.DTOs
@using ProportionalVotingApp.Models.Services
@using System.ComponentModel.DataAnnotations

<div class="input-group">
    <label for="addoption">Add Option: </label>
    <input class="form-control" type="text" id="addoption" @bind-value="optionToAdd" />
    <button type="button" class="btn-primary form-control" @onclick="@AddOption">AddOption</button>
</div>

@code {
    [MinLength(5)]
    string optionToAdd = "";

    [Parameter]
    public EventCallback<string> OnOptionAdded { get; set; }

    private async void AddOption()
    {
        await OnOptionAdded.InvokeAsync(optionToAdd);
    }

}
